$main-font: "Roboto", sans-serif;
$main-color: #3b3b3b;
$second-color: #ffffff;
$third-color: #ccc;
$temperature-color: #4793ff;
$desktop-width: 1440px;
$mobile-width: 375px;
$tablet-width: 576px;