@import "./variables";
@import "./mixin";

.weather__details {
  background-color: #3b3b3b;
  border-radius: 15px;
  padding: 20px;
  color: $second-color;
  font-family: $main-font;
  margin-left: 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  @include on-tablet {
    margin-left: 15px;
  }

  @include on-mobile {
    padding: 10px;
  }

  &--list {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    position: relative;
  }

  &--item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
  }

  &--item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  &--label {
    color: $temperature-color;
    font-weight: 500;
    margin-left: 10px;
  }

  &--value {
    margin-left: 25px;
    color: white;
    font-weight: 400;
  }

  &--image {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 200px;
    background-image: url("../images/cloud.png");

    @include on-tablet {
      width: 140px;
      height: 110px;
    }

    @include on-mobile {
      width: 80px;
      height: 90px;
    }
  }
}
